.header {
    background-color: rgb(76, 94, 110);
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    padding: 1% 0 1% 0;
}


p{
    color: white;
}

button{
    background-color: white;
    border-radius: 5%;
    width: 10%;
    padding: 1% 0 1% 0;
}